:root {
  --primary-color-white: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../media/images/jack-seeds-1YZF8ROHoAE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 2;
  color: var(--primary-color-white);
}
img {
  opacity: 0.4;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
