:root {
  --primary-color-white: white;
  --primary-color-dark: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../media/images/jack-seeds-1YZF8ROHoAE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 2;
  color: var(--primary-color-white);
}
img {
  max-width: 19rem;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.562);
  color: var(--primary-color-dark);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
