form {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  width: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.input {
  padding: 11px 20px;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  border: transparent;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  word-break: break-word;
}
.button {
  border: none;
  border-radius: 1rem;
  width: 20%;
  height: max-content;
  align-items: baseline;
  text-align: center;
  background-color: #6164d4;
  color: var(--primary-color-white);
  padding: 11px 20px;
  margin: 20px 0;
  &:hover {
    -webkit-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
    font-size: 1.05rem;
    background-color: #040642;
  }
}

.travel_input {
  padding: 1rem;
  gap: 0.2rem;
}

@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
  }
}
