form {
  background-color: #02061277;
  border-radius: 2rem;

  padding: 3rem;
  box-shadow: 24px 18px 9px 5px rgba(0, 0, 0, 0.3);
  height: 21rem;
  width: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

input {
  padding: 11px 20px;
  width: 100%;
  line-height: 1rem;
  margin: 20px 0;
}
input#url {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  word-break: break-word;
}
input#button {
  border: none;
  border-radius: 2rem;
  width: 20%;
  align-items: baseline;
  text-align: center;
  background-color: var(--primary-color-white);
  color: #d90416;
  padding: 0.6rem;
}
.travel_input {
  padding: 1rem;
}
